
body{
  box-sizing: border-box;
}

#form-login input{
  border-radius: 30px;
  padding: 10px 25px;
}


#form-login input{
  border-radius: 30px;
  padding: 10px 25px;
  width: 100%;
}

#form-login button{
  background-color: #FBB03B;
  color: #000;
  border-radius: 30px;
  padding: 10px 25px;
  width: 100%;
}

#form-login button:hover{
  background-color: #f9ca3b;
}

.container{
  max-width: 600px ;
}
