/*
    DEMO STYLE
*/
.bg-sea{
    background:#37474f !important;
    
}

.bg-blue-dark{
    background: rgb(159,159,159);
background: linear-gradient(270deg, rgba(159,159,159,1) 0%, rgba(217,217,217,1) 100%);
}

.navbar{
    -webkit-box-shadow: -8px 6px 39px -2px rgba(0,0,0,0.41) !important;
    -moz-box-shadow: -8px 6px 39px -2px rgba(0,0,0,0.41) !important;
    box-shadow: -8px 6px 39px -2px rgba(0,0,0,0.41) !important;
}

.navbar-sidenav  li:hover{
    background-color: #435a66;

    transition: all 0.5s ease;
}


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Muli', sans-serif;
    background: #fafafa;
    
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.navbar-sidenav a{
    color : #FFF !important;
    font-size: 1.1rem;
}

.navbar-nav .nav-link,.navbar-brand{
    color: #FFF !important;
}
