#productBox{
  text-decoration: none;
 width: 18rem;
color: #37474f;
background-color: #d1cfcf;
border: #37474F solid .5px;
}
#productBox img{
  border: #37474F solid .5px;
}
 .card:hover{

  transform: scale(1.1);
  transition: all .5s ease ;
}

.card img{
  height:  250px;
  object-fit: cover;
}